.post-images {
    width: 100%;
    max-width: 100%;
    margin-bottom: rem(30);

    &.has-dots {
        margin-bottom: rem(50);
    }

    @include media-breakpoint-up(md) {
        width: 333px;
        float: left;
        margin-right: rem(30);
    }

    @include media-breakpoint-up(xl) {
        margin-right: rem(50);
    }

    .slick-list {
        border-radius: rem(10);
    }

    .slick-dots {
        top: calc(100% + 5px);
        bottom: auto;
    }

    &__slide-image {
        display: block;
        min-height: 200px;
        padding-top: aspect-ratio(333, 219);
    }
}
