.header-hamburger {
    width: 35px;
    height: 30px;
    display: block;
    position: relative;
    background: none;
    border: none;

    &__line,
    &__line::before,
    &__line::after {
        width: 100%;
        height: 3px;
        left: 0;
        position: absolute;
        background-color: $g-color-primary;
    }

    &__line::before,
    &__line::after {
        content: '';
    }

    &__line {
        top: 50%;
        display: block;
        margin-top: -1.5px;
        transition-timing-function: cubic-bezier(.55,.055,.675, .19);
        transition-duration: .22s;
    }

    &__line::before {
        top: -9px;
        transition: top .1s ease-in .25s,opacity .1s ease-in;
    }

    &__line::after {
        bottom: -9px;
        transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55,.055,.675,.19);
    }


    &.is-active {
        .header-hamburger__line {
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355, 1);
            transform: rotate(225deg);

            &::before {
                top: 0;
                opacity: 0;
                transition: top .1s ease-out, opacity .1s ease-out .12s;
            }

            &::after {
                bottom: 0;
                transition: bottom .1s ease-out, transform .22s cubic-bezier(.215,.61,.355,1) .12s;
                transform: rotate(-90deg);
            }
        }
    }
}
